@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
  }

::-webkit-scrollbar {
  width: 2px; /* remove scrollbar space /
  background: transparent; / optional: just make scrollbar invisible /
  / optional: show position indicator in red */
  }
  ::-webkit-scrollbar-thumb {
  background: #FF0000;
  }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e0431;
}
